@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", system-ui, sans-serif;


  /* nav */
  --text-nav: 20px; 
  
  --leading-nav: 28px;

  --color-dark: #191A23;
  --color-brand-lime: #B9FF66;
  --color-light: #F3F3F3;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
    width: max-content;
  }
}
